.search-bar {
    text-align: center;
    input {
        width: 300px;
        background: none;
        border: none;
        border-bottom: 1px solid white;
    }
    margin-left: 440px;
    margin-right: 440px;
}