.search-bar {
    text-align: center;
    box-sizing: border-box;
    input {
        width: 300px;
        height: 40px;
        background: none;
        border: none;
        color: white;
        border-bottom: 1px solid white;
        outline: none;
        font-size: 20px;
        padding-left: 10px;
    }
    margin-left: 440px;
    margin-right: 440px;
}

.search-button {
    border: none;
    background: white;
    color: black;
    height: 40px;
    width: 42px;
}