.title-main {
    background-color: white;
    color: black;
    min-width: 300px;
    border-radius: 8px;
}

.title-content {
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}