.navigation-main {
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    height: 70px;
    margin-bottom: 30px;
}

.navigation-logo {
    font-size: 35px;
    margin-left: 36px;
    padding-top: 10px;
    font-family: 'Brush Script MT', cursive;
}