.navigation-main {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70px;
    padding-top: 15px;
    
}

.navigation-logo {
    font-size: 35px;
    margin-left: 133px;
    font-family: 'Brush Script MT', cursive;
}