@import '../basic/variables';

.content-container-main {
    height: auto;
    border: 1px solid lightgray;
    border-left: 10px solid red;
    padding: 0px 15px 30px 20px;
    width: 75vw;
    margin: $app-default-margin;
}
.content-container-title {
    color: red;
}
.content-container-body {
    text-align: left;

}