@import '../basic/variables';

.header-main {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $border-color;
    padding-bottom: 25px;
    padding-top: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: 15px;
    background-color: white;
    @media screen and (max-width : 768px) {
        position: unset;
        flex-direction: column;
        border-bottom: none;
        width: 75%;
        border-right: 2px solid $border-color;
        height: 100vh;
    }
}

.header-left-items {
    width: 20%;
    text-align: center;
    @media screen and (max-width : 768px) { 
        width: unset;
        text-align: unset;
        border-bottom: 2px solid $border-color;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
}
.header-center-items {
    width: 60%;
    ul {
        margin: 0;
        li {
            display: inline-flex;
            padding-right: 20px;
        }
    }

    @media screen and (max-width : 768px) {
        width: unset;
        margin-bottom: 15px;
        border-bottom: 2px solid $border-color;
        padding-left: 5px;
        padding-bottom: 5px;
        ul {
        padding: 0;
            li {
                display: flex;
                flex-direction: column;
                line-height: 2.5;
            }
        }
     }
}
.header-right-items {
    width: 20%;
    @media screen and (max-width : 768px) {
        width: unset;
        padding-left: 5px;
        border-bottom: 2px solid $border-color;
        padding-bottom: 5px;
     }
}
