@import '../basic/variables';

.new-todo-main {
    width: 50%;
    border: 1px solid lightgray;
    border-top: 8px solid red;
    padding: 20px;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 7px 7px 1px lightgray;
    @media screen and (max-width: 768px){
        width: 80%;
    }
}
.new-todo-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    padding-left: 20px;
    &__title {
        color: $default-title-color;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__input-container {
        margin-top: 12px;
    }
}
.new-todo-input {
    width: 400px;
    height: 30px;
    border-radius: 4px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
}
.new-todo-button {
    height: 32px;
    padding: 10px 26px 26px 26px;
    width: auto;
    background: none;
    background-color: $default-title-color;
    color: white;
    border-radius: 4px;
}
.new-todo-button-container {
    margin: 10px;
}
.todo-list {
    margin-top: 25px;
    width: 50%;
    ul {
        margin: 0;
        list-style: none;
        height: auto;
        li {
            border-radius: 10px;
            border: 1px solid lightgray;
            background-color: white;
            box-shadow: 2px 7px 7px 1px lightgray;
            padding: 16px;
            margin-top: 6px;
        }
    }
}
.todo-task-icon {
    float: right;
    padding-top: 3px;
    cursor: pointer;
    border-right: lightgray;
}

