.spending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 230px;
    padding-right: 30px;
    width: 65%;
    div {
        width: 100%;
        margin: 5px;
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding-left: 15px;
        div {
            box-sizing: border-box;
        }
    }

}

.spending-list {
    background: #e9ecef;
}
.spending-form {
    background: #e9ecef;
}
