

@import './app.scss';

@import './components/topnavbar';
@import './components//search-bar';
@import './components/menu-list';
@import './components//menu-navigation';
@import './components/title';
body {
 color: white;
 background-color: black;
 font-size: 20px;
}

