

// components
@import './components/header';
@import './components/anchor.scss';
@import './components/contentContainer.scss';

// journies
@import './journeys/newTodo.scss';

// basic
@import './basic/variables';

@import './app.scss';
body {
    background-color: $background-color;
    font-size: $default-fontSize;
    font-family: $default-app-font;
    letter-spacing: -1px;
    padding: 0px;
}
