

// components
@import './components/header';
@import './components/anchor.scss';
@import './components/contentContainer.scss';
@import './components/alerts.scss';
@import './components/react-toggle.scss';

// journies
@import './journeys/newTodo.scss';
@import './journeys/instagram.scss';
@import './journeys/journal.scss';

// basic
@import './basic/variables';
@import './basic/right-to-left';

@import './app.scss';


@import "~bootstrap/scss/bootstrap";

body {
    background-color: $background-color;
    font-size: $default-fontSize;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0;
}

